*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

body.light,
body.dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-moon-green {
  color: #56ab2f;
}

.card {
  --bs-card-spacer-x: 0 !important;
  --bs-card-title-spacer-y: 0 !important;
  transition: all 0.3s ease;
}

.album-container .card:hover,
.track-container .card:hover {
  filter: none;
}

@media (min-width: 768px) {
  .album-container .card:hover,
  .track-container .card:hover {
    filter: brightness(1.1);
  }
}

.card-img-top {
  border-radius: 0 !important;
}

.container {
  max-width: 60rem !important;
}

.track-container {
  border-radius: 0.5rem;
  padding: 1rem;
}

.album-container {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.coming-soon-container {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.screenshot-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.screenshot-icon:hover {
  transform: scale(1.1);
}

.material-icons {
  font-size: 24px;
}

.artist-container {
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.playlist-creator-form-container {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 30rem !important;
}

.artist-card {
  position: relative;
  color: black;
  border: none !important;
  padding-top: 280px;
  border-radius: 0 !important;
}

.artist-card-container {
  display: flex;
  flex-direction: column;
}

.header-image-container {
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  height: 300px;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0 0 0) 346%);
}

.artist-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.artist-body {
  padding: 1rem;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.stat-label {
  font-size: 0.75rem;
}

.change {
  display: flex;
  align-items: center;
  color: black;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.change-youtube {
  display: flex;
  align-items: center;
  color: #56ab2f;
  font-weight: bold;
}

.change-increase {
  display: flex;
  align-items: center;
  color: #56ab2f;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.change-increase-totals {
  display: flex;
  align-items: center;
  color: #56ab2f;
  font-size: 0.9rem !important;
  font-weight: bold;
}

.change-decrease {
  display: flex;
  align-items: center;
  color: red;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.total-album-playcount {
  font-size: 0.9rem;
}

.change span {
  margin-left: 0.2rem;
}

.fa-arrow-up {
  color: #56ab2f;
}

.fa-arrow-down {
  color: red;
}

.timestamp {
  font-size: 0.7rem;
  color: #ccc;
  position: absolute;
  top: 280px;
  left: 13px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.song-list {
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.4s ease-in-out;
  max-height: 300px;
  width: 100%;
}

.song-list::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

.song-list::-webkit-scrollbar-thumb {
  display: none;
}

.song-list-item-added {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.song-title-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.playlist-creator-title {
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-button {
  background-color: #1db954;
  border-color: #1db954;
  border-radius: 25px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.login-button:hover {
  background-color: #1db954;
  color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-info-container {
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 30rem !important;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 0.25rem;
}

.info-row span:first-child {
  font-weight: bold;
  margin-right: 0.5rem;
}

.logout-button {
  width: 100%;
  margin-top: 1rem;
}

.info-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 1px;
  height: 1.5rem;
  background-color: #ccc;
  margin: 0 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;

  @media (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.nav-link-item {
  transition: all 0.3s ease-in-out;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.dropdown-menu-size {
  min-width: 100% !important;
  font-size: 0.9rem !important;
}

.button-transition {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.instructions {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.4;
}

.mobile-hidden {
  @media (max-width: 768px) {
    display: none !important;
  }
}

/* 2nd to last child of body-container */
.content-container > :nth-last-child(2) {
  margin-bottom: 1px;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TOGGLE BUTTONS */
.toggle-button {
  border: none;
  border-radius: 50%;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button-light {
  background-color: black;
  color: white;
}

.toggle-button-dark {
  background-color: white;
  color: black;
}

.toggle-icon {
  font-size: 20px;
}

.theme-label {
  margin-left: 0.5rem;
  white-space: nowrap;
  text-align: center;
}

.spotify-label {
  margin-left: 0.5rem;
  white-space: nowrap;
  text-align: center;
}

.youtube-label {
  margin-left: 0.5rem;
  white-space: nowrap;
  text-align: center;
}

/* NAVBAR */
.dropdown-icon {
  font-size: 0.8rem;
  margin-left: 4px;
}

.navbar-items-container {
  padding: 4px 8px;
}

@media (max-width: 991.98px) {
  .navbar-items-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .navbar-items-container.dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
  /* TEST */
  display: flex;
  align-items: center;
}

/* .nav-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #56ab2f;
  transform: scaleX(0);
  transition: transform 0.3s ease;
} */

.nav-link:hover::before {
  transform: scaleX(1);
}

.nav-link.active::before {
  transform: scaleX(1);
}

@media (max-width: 991.98px) {
  .dropdown-menu.dropdown-menu-size {
    background-color: transparent;
    border: none;
  }
}

/* BUTTONS */

.btn-green-moon {
  color: white !important;
  background: #56ab2f !important;
  color: #fff;
  border: 3px solid #eee;
  transition: all 0.3s ease-in-out;
  font-weight: bold !important;
}

.btn-outline-green-moon {
  color: #56ab2f !important;
  background: transparent;
  border: 1px solid #56ab2f !important;
  --bs-btn-bg-active: #56ab2f;
}

.btn-check:checked + .btn-outline-green-moon {
  color: #fff !important;
  background-color: #56ab2f !important;
  border-color: #56ab2f !important;
}

.btn-outline-green-moon:hover {
  color: #fff !important;
  background-color: #56ab2f !important;
  border-color: #56ab2f !important;
}

.btn-outline-green-moon:active {
  color: #fff !important;
  background-color: #56ab2f !important;
  border-color: #56ab2f !important;
}

.btn-outline-green-moon:focus {
  color: #fff !important;
  background-color: #56ab2f !important;
  border-color: #56ab2f !important;
}

.btn-outline-green-moon:active:focus {
  color: #fff !important;
  background-color: #56ab2f !important;
  border-color: #56ab2f !important;
}

/* YOUTUBE */
.video-card {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 1rem !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  height: 190px !important;
}

.video-card:hover {
  filter: brightness(1.1);
}

.backdrop-filter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: contrast(4) blur(25px) saturate(1.5) brightness(1.3)
    opacity(1) hue-rotate(4deg) sepia(0) invert(0.4) grayscale(0.1);
  --webkit-backdrop-filter: contrast(4) blur(25px) saturate(1.5) brightness(1.3)
    opacity(1) hue-rotate(4deg) sepia(0) invert(0.4) grayscale(0.1);
  --moz-backdrop-filter: contrast(4) blur(25px) saturate(1.5) brightness(1.3)
    opacity(1) hue-rotate(4deg) sepia(0) invert(0.4) grayscale(0.1);
  --o-backdrop-filter: contrast(4) blur(25px) saturate(1.5) brightness(1.3)
    opacity(1) hue-rotate(4deg) sepia(0) invert(0.4) grayscale(0.1);
  --ms-backdrop-filter: contrast(4) blur(25px) saturate(1.5) brightness(1.3)
    opacity(1) hue-rotate(4deg) sepia(0) invert(0.4) grayscale(0.1);
  background-color: rgba(0, 0, 0, 0.19);
  /* border-radius: 1rem; */
}

.video-card-img {
  width: 100px;
  /* margin-right: 1rem; */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.video-card-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  z-index: 1;
}

.video-card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: #fff !important;

  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.video-card-title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 240px;
}

/* on desktop max-width: 100% */
@media (min-width: 768px) {
  .video-card-title {
    font-size: 0.9rem;
    max-width: 290px;
  }
}

.video-card-divider {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1rem 0;
}

.video-card-views {
  color: #fff !important;
}

.video-card-likes {
  color: #fff !important;
  font-size: 0.8rem !important;
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.col-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .col-title {
    font-size: 1rem;
  }
}

.total-views {
  color: #fff;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.text-font-normal {
  font-size: 1.3rem !important;
  font-weight: bold;
}

.text-stat-value {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.video-badge {
  color: #fff !important;
  font-size: 0.8rem !important;
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  background-color: rgba(252, 5, 5, 0.4);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.badge-100M {
  background-color: rgba(244, 67, 54, 0.8);
}

.badge-200M {
  background-color: rgba(255, 152, 0, 0.8);
}

.badge-300M {
  background-color: rgba(255, 235, 59, 0.8);
}

.badge-400M {
  background-color: rgba(76, 175, 80, 0.8);
}

.badge-500M {
  background-color: rgba(33, 150, 243, 0.8);
}

.badge-600M {
  background-color: rgba(63, 81, 181, 0.8);
}

.badge-700M {
  background-color: rgba(156, 39, 176, 0.8);
}

.badge-800M {
  background-color: rgba(96, 125, 139, 0.8);
}

.badge-900M {
  background-color: rgba(121, 85, 72, 0.8);
}

.badge-1B {
  background-color: rgba(255, 193, 7, 0.8);
}

.badge-hourly-gainer {
  background-color: rgba(255, 126, 0, 0.8);
}

.badge-daily-gainer {
  background-color: rgba(0, 230, 64, 0.8);
}
